#login {
    text-align: center;
    color: #666;
}
.alert {
    width: 50%;
    margin: 0 auto;
    margin-top:2%;
    text-align: center;
}
#login-input:focus {
    outline: none;
}
.alert {
    background-color: #FFF59D;
    padding: 1%;
}