#leaderboard {
    width:40%;
    height: 600px;
    overflow: auto;
    color: #666;
    border: 2px solid lightgray;
    margin: 0 auto;
    margin-top:2%;
    text-align: center;
    font-size:2rem;
    position: relative;
}
 @media screen and (max-width:1200px) {
   #leaderboard {
       width: 100%;
   }  
} 
#leaderboard ul {
    list-style: none;
    padding: 0 5% 0 5%;
    margin-top: -5%;

}
#leaderboard ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.user-info {
    font-weight: 800;
}
#leaderboard-input {
    font-size:.8em;
}
#leaderboard nav {
    display: flex;
    flex-direction: column;
    height:100px;
    /* position: fixed; */
    /* width:600px; */
    /* top:0; */
}