* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
nav {
  width: 100%;
  height: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  font-weight: 800;
  letter-spacing: .1em;
  border-bottom: 1px solid #B0BEC5;
}
nav a {
  color: #607D8B;
  transition: all .2s ease-in;
}
nav a:hover {
  color: #455A64;
  transform: scale(1.1);
}
button {
  width: 200px;
  height: 50px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
  margin-top: 3%;
  cursor: pointer;
}
#login-input:focus, #game-input:focus {
  transform: scale(1.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  outline:none;
}